.footer {
}
.footer-wrapper{
  padding: 24px;
  text-align: center;
  font-size: 12px;
}
.footer-copy {
  margin-bottom: 15px;
  line-height: 1.667;
}
.footer-mail {
  margin-bottom: 15px;
  line-height: 1.667;
  a{
    color: var(--primary);
  }
}
.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 12px;
}
.footer-socials-item {
}
.footer-socials-link {
}
