.plugins {
}
.plugins-wrapper {
  padding: 20px 0 26px;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}
.title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 11px;
  height: 48px;
  color: #1c1e23;
}
.plugins-items {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 0;
}
.plugins-item {
  width: 50%;
  padding: 32px 8px 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.plugins-item-image {
  height: 260px;
  max-width: 260px;
  width: 100%;
  margin-bottom: 8px;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: 3px 4px 44px 0 rgba(0, 0, 0, 0.03);
  object-fit: cover;
}
.plugins-item-name {
  color: #1c1e23;
  margin-bottom: 1px;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.01em;
  color: #333;
}
.plugins-item-price {
  color: var(--primary);
  line-height: normal;
  margin-bottom: 16px;
  margin-left: 1px;
}
.plugins-item-btn {
  padding: 16px 50px;
  font-size: 15px;
  line-height: 16px;
  background: var(--primary);
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 700;
  border-radius: 7px;
  margin-left: -2px;
}
